# Analyzing Cycle share data set files

In [2]:
import pandas as pd
import numpy as np

#### At first, we need to render the csv file content

In [3]:
df1 = pd.read_csv('resources/cycle_share/station.csv')
df3 = pd.read_csv('resources/cycle_share/weather.csv')
df2 = pd.read_csv('resources/cycle_share/trip.csv', error_bad_lines=False)

b'Skipping line 50794: expected 12 fields, saw 20\n'

#### What is the average trip duration for a borrowed bicycle?

In [22]:
avg_trio_duration = df2['tripduration'].mean()
avg_trio_duration

1178.2956753399776

#### What’s the most common age of a bicycle-sharer?

In [23]:
age = 2020 - df2['birthyear'].value_counts().keys()[0]
age

33.0

#### find the average precipitation per month, and the median precipitation.

In [57]:
from datetime import timedelta
# df3['month'] = df3['Date'].dt.month
df3['month'] = pd.DatetimeIndex(df3['Date']).month
data_by_month = df3.groupby('month')
avg_precipitation_per_month = data_by_month.describe().Precipitation_In
avg_precipitation_per_month

       count      mean       std  min  25%    50%     75%   max
month
1       62.0  0.143548  0.248498  0.0  0.0  0.020  0.1950  1.27
2       57.0  0.168421  0.251245  0.0  0.0  0.040  0.2200  0.87
3       62.0  0.156935  0.328427  0.0  0.0  0.025  0.2000  2.20
4       60.0  0.051333  0.113831  0.0  0.0  0.000  0.0425  0.52
5       62.0  0.012419  0.041752  0.0  0.0  0.000  0.0000  0.22
6       60.0  0.030500  0.079285  0.0  0.0  0.000  0.0000  0.34
7       62.0  0.012097  0.038545  0.0  0.0  0.000  0.0000  0.21
8       62.0  0.018226  0.081029  0.0  0.0  0.000  0.0000  0.57
9       30.0  0.041000  0.112445  0.0  0.0  0.000  0.0275  0.58
10      50.0  0.189000  0.298536  0.0  0.0  0.040  0.3400  1.43
11      60.0  0.187833  0.348581  0.0  0.0  0.035  0.2250  1.64
12      62.0  0.236290  0.318867  0.0  0.0  0.100  0.4425  1.51

In [51]:
median_precipitation = data_by_month.median().Precipitation_In
median_precipitation

month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

#### What’s the average number of bikes at a given bike station?

In [26]:
average_number_of_bikes = df1['install_dockcount'].mean()
average_number_of_bikes

17.586206896551722

#### When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [27]:
count_after = df1['install_dockcount'].sum()
count_after

1020

In [28]:
count_before = df1['current_dockcount'].sum()
count_before

958

##### it has more bikes after, so it's going to gain bikes

#### Come up with 3 more questions that can be answered with this data set.

a. how much more bikes are going to be available after installetion?

In [60]:
new_bikes = count_after - count_before
new_bikes

62

b. give me the percentage of males for these trips?

In [40]:
males = df2[df2['gender'] == 'Male'].count().gender
total = df2.count().gender
100*(total - males)/total

22.578584136111523

c. find the maximum temperature ever in F

In [61]:
max_temp_ever = df3['Max_Temperature_F'].max()
max_temp_ever

98

In [62]:
def tests():
    assert avg_trio_duration == 1178.2956753399776
    assert age == 33
    assert median_precipitation.iloc[0] == 0.02
    assert average_number_of_bikes == 17.586206896551722
    assert count_after == 1020
    assert count_before == 958
    assert new_bikes == 62
    assert max_temp_ever == 98
    print('Done!')

In [63]:
tests()

Done!